.button {
    font-size: 1.6rem;
    outline: none;
    padding: 10px 20px;
    width: 100%;
    font-weight: 600;
}

.primary {
    background-color: var(--azul-primario);
    color: var(--branco);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s;
}

.primary:hover,
.primary:focus {
    background-color: #6f9fff;
}

.secondary {
    background-color: var(--branco);
    color: var(--azul-primario);
    border: 1px solid var(--azul-primario);
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s;
}

.secondary:hover,
.secondary:focus {
    background-color: var(--azul-primario);
    color: white;
}