.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;
}

.nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav ul a {
    text-decoration: none;
    color: #000;
    font-size: 1.8rem;
}

.user {
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
}

.logout {
    position: absolute;
    left: -20px;
    top: 30px;
    background-color: white;
    border: 2px solid #eee;
    border-radius: 10px;
    width: 120px;
    height: 50px;
    display: flex;
    z-index: 400000;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logout p:hover {
    text-decoration: underline;
}

.header svg {
   margin-top: 2px;
}


@media (max-width: 700px) {
    .header {
        flex-direction: column;
        gap: 20px;
        
        justify-content: center;
        align-items: center;
    }

    .nav ul {
        gap: 30px;
    }
    .nav ul li {
        padding: 5px 10px;
        border: 1px solid #eee;
    }

    /* .user {
        position: static;
    }

    .logout {
        position: static;
        display: none;
    } */
}