.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;
}

.nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav ul a {
    text-decoration: none;
    color: #000;
    font-size: 1.8rem;
}

.user {
    display: flex;
    gap: 10px;
    align-items: center;
    
}

.header svg {
   margin-top: 2px;
}

