
.tableContainer {
    max-width: 1200px;
    margin: 0 auto;
}

td, th{
    padding: 20px 30px !important;
    font-size: 1.8rem !important;
}

thead {
    border-radius: 20px !important;
}

table {
    border-radius: 20px;
}

.paper {
    border-radius: 20px !important;
}

.pagination p {
    font-size: 1.6rem !important;
}

.pagination div {
    font-size: 1.4rem !important; 
}

.pagination {
    border-top: 2px solid #eee;
}

.wrapper {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.actions {
    display: flex !important;
    gap: 20px !important;
}

.actions svg {
    cursor: pointer;
}