.tableContainer {
    max-width: 1200px;
    margin: 0 auto;
}

td,
th {
    padding: 20px 30px !important;
    font-size: 1.8rem !important;
}

thead {
    border-radius: 20px !important;
}

table {
    border-radius: 20px;
}

.paper {
    border-radius: 20px !important;
}

.pagination p {
    font-size: 1.6rem !important;
}

.pagination div {
    font-size: 1.4rem !important;
}

.pagination {
    border-top: 2px solid #eee;
}

.wrapper {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.actions svg {
    cursor: pointer;
}

.actions svg:first-child {
    margin-right: 20px !important;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, 0);
    background-color: rgba(0, 0, 0, 0.7);
    height: 100dvh;
    width: 100vw;
}

.wrapperModal {
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    display: grid;
    gap: 20px;
}

.wrapperModal form {
    display: grid;
    gap: 20px;
}

@media (max-width: 1200px) {
    .section h1 {
        padding: 0 20px;
    }
    .tableContainer {
        padding: 0 20px;
    }
}

@media (max-width: 950px) {
    .tableContainer {
        max-width: 100%;
        overflow-x: scroll;
    }
}
