.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    border: 2px solid #EBEBEB;
    border-radius: 20px;
    height: 500px;
}

.container form {
    padding: 40px;
    display: grid;
    justify-content: flex-start;
    gap: 20px;
    
    
}


/* .container form input {
    font-size: 1.6rem;
}

.container form label {
    font-size: 1.2rem;
} */