@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --branco: #FAFAFA;
  --azul-primario: #5F95FF;
  --azul-secundario: #265578;
  --type-first: 'Poppins', sans-serif;
  --type-second: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--type-second);
  color: #0A0A0A;
}

img {
  display: block;
  max-width: 100%;
}

.animeLeft {
  opacity: 0;
  transform: translatex(-20px);
  animation: animeLeft 0.2s forwards;
}

@keyframes animeLeft {
  to {
    opacity: initial;
    transform: initial;
  }
}

